<header>
    <nav>
        <h1>Nelson and Murdock</h1>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#what">What</a></li>
            <li><a href="#who">Who</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
    </nav>
    <div>
        <h1>Professionals you want to hire</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi molestiae nisi qui! Nostrum, natus quas!</p>
        <a href="#what" class="btn">Read More</a>
    </div>
</header>