<!-- ASIDE: Clients -->
<aside>
    <h2>Our Clients</h2>
    <div>
        <div><img src="assets/images/logo1.svg" alt="client"></div>
        <div><img src="assets/images/logo2.svg" alt="client"></div>
        <div><img src="assets/images/logo3.svg" alt="client"></div>
        <div><img src="assets/images/logo4.svg" alt="client"></div>
        <div><img src="assets/images/logo5.svg" alt="client"></div>
    </div>
</aside>

<!-- SECTION: Contact Us-->
<section>
    <h2>Contact Us</h2>
    <p>Please use the form to contact us</p>
    <form>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter Name" />
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Email" />
        </div>
        <div>
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" placeholder="Enter Phone Number"/>
        </div>
        <div>
            <label for="message">Message</label>
            <textarea name="message" placeholder="Enter Message"></textarea>
        </div>
        <input type="submit" value="Send"/>
  </form>
</section>