<main>
    <!-- What we do -->
  <section>
    <div>
      <h2>What We Do</h2>
  </div>
  <div>
      <div>
          <h3>Investment Banking</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quasi!</p>
      </div>
      <div>
          <h3>Portfolio Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, perspiciatis.</p>
      </div>
      <div>
          <h3>Tax & custodial</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ex!</p>
      </div>
  </div>
  </section>

  <!--:Who We Are -->
  <section>
    <h2>Who We Are</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptates doloremque minima explicabo magnam! Repellat perferendis harum similique quod quos.</p>
    <h3>Our Team</h3>
    <ul>
        <li>Matt Murdock: CEO</li>
        <li>Franklin Nelson: CFO</li>
        <li>Karen Page: Lead Accountant</li>
        <li>Frank Castle: Invest Manager</li>
    </ul>
  </section>
</main>